#title{
    background-color: #0A4D68;
    height: 120px;
}
.body{
    font-family: Montserrat-Black ;
    text-align: center;
}
.container-fluid{
    padding: 3% 10% 10%;
}
.navbar{
    height: 5%;
}
.navbar_brand{
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
}
.head-1{
  margin: 50px 2px 5px 600px;
}
.head-2{
  margin: 20px 2px 50px 270px;
}
.head-3{
  margin: 15px 2px 65px 425px;
  font-size: 55px;
}
.list-1{
  padding: 0px;
  width: 140px;
  height: 180px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 120px;
  }
  .flex-item-left {
    padding: 10px 10px 10px 20px;
    flex: 50%;
  }
  .flex-item-right {
    width: 165px;
    padding: 10px 10px 10px 10px;
    flex: 50%;
  }
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
  .img-1{
    height: 100px;
    width: 100px;
    background-image: none;
    align-content: left;
  }
  .img-2{
    height: 35px;
    width: 35px;
    background-image: none;
  }
  .img-4{
    height: 95px;
    width: 80px;
    background-image: none;
    padding-top: 15px;
  }
  .img-2-half{
    padding: 0px;
    text-align: center;
    height: 35px;
    width: 17.5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px 17.5px;
    width: 120px;
    
  }
  .grid-item {
    padding: 0px;
    text-align: center;
    height: fit-content;
    width: fit-content;
  }
  * {
    box-sizing: border-box;
  }
  
  .flex-container-2 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    height: 220px;
    width: 1200px;
  }
  .flex-item-left-2 {
    padding: 10px;
    flex: 50%;
  }
  .flex-item-right-2 {
    padding: 10px;
    flex: 50%;
  }
  @media (max-width: 800px) {
    .flex-container-2 {
      flex-direction: column;
    }
  }
  .flex-item-right-3{
    padding: 10px;
    flex: 50%;
  }
  .flex-item-left-3{
    height: 90px;
    width: 90px;
    padding: 10px 10px 0px 25px ;
  }
  .list-1{
    justify-content: center;
  }
  .flex-container-3{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    height: 220px;
    width: 1200px;
  }
  @media (max-width: 800px) {
    .flex-container-3 {
      flex-direction: column;
    }
  }
  .container-fluid-about{
    align-content: center;
    width: 1500px;
    height: 550px;
    padding: 100px 450px 10px 350px;
  }
  .head-5{
    text-align: center;
  }
  .about-me{
    text-align: center;
  }
  * {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar-2 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar-2 a {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar-2 a:hover {
  background-color: #000;
}

.navbar-2 a.active {
  background-color: white;
  height: 50px;
  width: 50;
}
.icon {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 500px) {
  .navbar-2 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  .active{
    padding: auto;
  }  
  }
}
.para{
  white-space:pre-wrap;
  text-align:center;
  white-space:pre-wrap;
  padding: 5px 20px 4px 20px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #0A4D68;
}
.para-1{
  text-align:center;
  white-space:pre-wrap;
  padding: 50px 20px 5px 20px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #0A4D68;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 2px 1px 1px 1px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.skills-about{
  color: #0A4D68;
  font-style: oblique;
  font-size: 20px;
  font-weight: 800;
  margin: 50px 5px 5px 5px;
  text-align: justify;
}
.skills-about-2{
  color: #0A4D68;
  font-style: oblique;
  font-size: 20px;
  font-weight: 800;
  margin: 20px 5px 2px 5px;
  text-align: justify;
}
.sqs-html-content{
  width: 700px;
  height: 450px;
}
.span-22{
  margin-top:30px;
}